:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 1rem 2rem;
  background: #ECEDF3;
  border-bottom: 1px solid #e0e0e0;
  height: 4rem;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  padding: 1rem;
}

.editor-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-property-bar {
  width: 290px;
  position: fixed;
  left: 0;
  top: calc(4rem + 2rem);
  height: calc(100vh - 4rem - 4rem);
  overflow-y: auto;
}

