:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 1rem 2rem;
  background: #ECEDF3;
  border-bottom: 1px solid #e0e0e0;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.editor-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

